.sidebar a {
  display: block;
  padding: .5rem .3rem;
}

#topbar {
  margin-bottom: 1rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

.toolbar .search {
  min-width: 25rem;
}

#form_search .btn{
  margin-left: .5rem;
}
.badge{
  background-color: orange;
}
.badge.badge-success{
  background-color: green;
}
